<ion-header>
  <ion-toolbar color="success">
    <ion-title >ช่องทางการติดต่อเกี่ยวกับสุขภาพจิต</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding" style="display: flex; flex-direction:column;text-align:center;"><ion-button (click)="onClick()" expand="block" fill="solid" shape="round">
    ช่องทางการติดต่อเกี่ยวกับสุขภาพจิต
  </ion-button>
  </div> -->
  <div class="ion-padding"><img src="/assets/contact.png" alt="" style="margin-top: 25px;"></div>
  <div style="text-align: center;" (click)="gotoetc()"><ion-button fill="clear" color="success"> <ion-icon slot="end" name="sync-outline"></ion-icon> ย้อนกลับ
  </ion-button></div>
  
  


</ion-content>
