<ion-header>
  <ion-toolbar color="oreng1" style="height: 50px;">
    <ion-title style="font-size: medium;margin-top: 8px;">
      Homepage
    </ion-title>
    <ion-text slot="end" style="margin-right: 20px;font-size: medium;margin-top: 8px;" (click)='logout()'>Log Out</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content color="nood1">
  <div style="margin-top: 10px;">
    <ion-item color="oreng1">
      <ion-avatar slot="start">
        <img src="/assets/user.png">
      </ion-avatar>

      <ion-label style="margin-top: 25px;">
        <h2 style="margin-left: 5px;">{{username}}</h2>
        <ion-button shape="round" color="nood1" style="width: 150px;height: 80%;" fill="solid" ><div style="padding: 6px;font-size: smaller;">วันที่เข้าร่วม : {{date_regis}}</div></ion-button>
       
      </ion-label>
      

    </ion-item>
  </div>
  <div style="margin-top: 10px;">
    <ion-grid>
      <ion-row style="margin-left: -5px;margin-top: 0px;margin-right: -5px;">

        <ion-col size="6">
          <ion-card style="padding: 10px;margin-top: 10px;text-align: center;"  (click)="dostresstest()" color="nood2">
            <!-- <img src="/assets/stress_img.png"
              style="padding: 0px;" /> -->
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 13px; margin-bottom: -15px;margin-top: -25px;">
                แบบประเมินความเครียด</ion-card-title>
            </ion-card-header> 
            <!-- <ion-card-content>
            ความเครียด(Stress) คือ ภาวะของอารมณ์ ความรู้สึก ที่ถูกบีบคั้น กดดัน ทำให้มีอาการแสดงที่ต่างกัน เช่น
            วิตกกังวล นอนไม่หลับ ปวดหัว ซึมเศร้า บางคนอาจมีอาการประสาทหลอนได้
          </ion-card-content> -->
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card style="padding: 10px;margin-top: 10px;text-align: center;" (click)="do_depressiontest()" color="nood2">
            <!-- <img src="https://campaigns.aia.co.th/vitality/assets/media/onlineassessment-icon-200px.png"
              style="padding: 30px;" /> -->
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 13px;margin-bottom: -15px;margin-top: -25px;">
                แบบประเมินโรคซึมเศร้า</ion-card-title>
            </ion-card-header>

          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;" (click)="diary()" >เขียนบันทึกกิจวัตรประจำวัน</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;">ประวัติการประเมิน</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;">เติมพลังใจกันเถอะ</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;">สายด่วนสุขภาพจิต</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card (click)="alldiary()" color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;">My Diary</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2" (click)="all_Tested()">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 10px;">ข้อมูลวิเคราะห์เครียดและซึมเศร้า
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 14px;">แนะนำวิธีคลายเครียด</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" style="margin-top: -15px;">
          <ion-card color="nood2">
            <img src="" />
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 10px;">แนะนำวิธีลดภาวะซึมเศร้าเบื้องต้น
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <!-- <ion-button color="primary" expand="block" class="ion-margin" style="margin-top: -10px;" (click)="regis()">
          ลงทะเบียน
        </ion-button>
        <h6>{{getkey()}}</h6> -->



      </ion-row>
    </ion-grid>
  </div>

</ion-content>