<ion-header >
  <ion-toolbar color="pink1">
    <ion-title>My Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="diary">
    <ion-card *ngFor="let item of diary" style="padding: 20px;" color="pink2">
      <ion-label>
        <h2>{{item.mood}}</h2>
        <h6>บันทึกเมื่อ : {{item.date}}</h6>

      </ion-label>
      <p>{{item.data_text}}</p>


      <div style="flex: 1;text-align:right;">
        <ion-icon name="pencil-outline" id="pencil" color="warning" (click)="edit_diary(item.di_id,item.user_id)">
        </ion-icon>
        <ion-icon name="trash" id="trash" (click)=" del_diary(item.di_id,item.data_text)" color="danger"></ion-icon>
      </div>

    </ion-card>
  </ion-list>

  <div *ngIf="!diary" style="margin-top: 200px;">
    <ion-list>
      <div style="padding: 50px;text-align: center;" class="not-diary" >
       <p>เอ๊ะ!</p>  
        <p style="margin-top: -10px;">เหมือนยังไม่มีบันทึกนะ </p> 


      </div>
    </ion-list>
  </div>
  <div style="padding: 10px;" (click)="gotohome()">
    <ion-button expand="block" shape="round" style="margin-top: -19px;height: 45px;" color="nood1">
      กลับสู่หน้าหลัก
    </ion-button>

  </div>
   <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="_diary()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>