<ion-header>
  <ion-toolbar>
    <ion-title>diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div style="margin-left: 20px;">
      <h2>
        วันนี้ <br> เป็นอย่างไรบ้าง . . .
      </h2>
    </div>

    <div>
      <ion-card color="pink2">

        <img src="/assets/Interest.png" style="margin: 16px;margin-left:30px;width: 7%;" (click)="clickmood('ตื่นเต้น')">
        <img src="/assets/mood4.png" style="margin: 16px;">
        <img src="/assets/mood5.png" style="margin: 16px;">
        <img src="/assets/mood7.png" style="margin: 16px;">
        <img src="/assets/mood8.png" style="margin: 16px;">
        <img src="/assets/mood9.png" style="margin: 16px;">

      </ion-card>
    </div>

    <div style="margin-left: 3%;">

      <!-- <ion-item color="oreng1" shape="round"> -->
      <ion-button shape="round" color="nood1" style="height: 5%;" fill="solid">
        <ion-label class="mood">อารมณ์คุณเป็นอย่างไร :</ion-label> 
        <ion-select  interface="action-sheet" class="mood" [(ngModel)]="mood">

          <ion-select-option value="อารมณ์ดีมาก">อารมณ์ดีมาก
          </ion-select-option>
          <ion-select-option value="อารมณ์ดี">อารมณ์ดี</ion-select-option>
          <ion-select-option value="มีความสุข">มีความสุข</ion-select-option>
          <ion-select-option value="ร่าเริง">ร่าเริง</ion-select-option>
          <ion-select-option value="กังวล">กังวล</ion-select-option>
          <ion-select-option value="เครียด">เครียด</ion-select-option>
          <ion-select-option value="เศร้า">เศร้า</ion-select-option>
          <ion-select-option value="อารมณ์ไม่ค่อยดี">อารมณ์ไม่ค่อยดี</ion-select-option>
          <ion-select-option value="อารมณ์ไม่ดี">อารมณ์ไม่ดี</ion-select-option>

        </ion-select>
      </ion-button>
      
    </div>
    <div *ngIf="m1" style="padding: 10px;">
        {{mood}}
       <img src="/assets/Interest.png" style=" width: 5%;margin-top: 10px;" id="Interest">
       

      </div>

    <!-- <ion-card>
        <img src="/assets/minimal-flower.jpg"  sizes="small" >
      </ion-card>
       -->


    <div style="padding: 15px;">

      <ion-item color="light">
        <ion-textarea rows="10" cols="20" placeholder="เขียนอะไรซักอย่าง . . ." shape="round" [(ngModel)]="diary"></ion-textarea>
      </ion-item>



    </div>

    <div style="margin-left: 285px;position: absolute;" (click)="confirm()">
      <ion-button shape="round" color="violet">บันทึก</ion-button>
    </div>
    <div style="margin-left: 172px;position: absolute;" (click)="gotohome()">
      <ion-button shape="round" color="nood1">ย้อนกลับ</ion-button>

    </div>

  </div>

</ion-content>
