<ion-header>
  <ion-toolbar color="nood1">
    <ion-title>เพิ่มเติม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="pink2">
  <ion-card color="secondary">
    <img src="" />
    <ion-card-header>
      <ion-card-title>คำแนะนำวิธีคลายเครียด</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <img src="" />
    <ion-card-header>
      <ion-card-title>คำแนะนำวิธีลดภาวะซึมเศร้าเบื้องต้น</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <img src="" />
    <ion-card-header>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  




</ion-content>