<ion-header>
  <ion-toolbar color="nood1">
    <ion-title>เพิ่มเติม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="pink2">
  <ion-card color="secondary" style="margin-top: 15px;" (click)="goto_stress_relax()">
    <img src="" />
    <ion-card-header>
      <ion-card-title>คำแนะนำวิธีคลายเครียด</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      จิบชาเขียวร้อนๆ ในชาเขียวมีสาร แอล-ธีเอนีน (L-Theanine) ซึ่งมีคุณสมบัติช่วยในการผ่อนคลาย แนะนำว่าก่อนดื่มขอให้สูดกลิ่นชาเข้าไปลึกๆ จะช่วยให้สดชื่นขึ้นด้วยนะ ........
    </ion-card-content>
  </ion-card>
  
  <ion-card color="warning" (click)="goto_depress_relax()">
    <img src="" />
    <ion-card-header>
      <ion-card-title>คำแนะนำวิธีลดภาวะซึมเศร้าเบื้องต้น</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      สำหรับอาการซึมเศร้าระดับน้อย การออกกำลังกาย 30 - 45 นาที (เป็นแอโรบิกยิ่งดี) อย่างสม่ำเสมออย่างน้อย 3 ครั้งต่อสัปดาห์ จะสามารถช่วยลดอาการซึมเศร้าได้ดี.........
    </ion-card-content>
  </ion-card>

  <ion-card color="success" (click)="goto_contact()">
    <img src="" />
    <ion-card-header>
      <ion-card-title>ช่องทางการติดต่อเกี่ยวกับสุขภาพจิต</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      มีปัญหา หรือ อยากปรึกษา สามารถเข้าดูช่องทางติดต่อได้เลย.......
    </ion-card-content>
  </ion-card>

  <div style="text-align: center;" (click)="gotohome()"><ion-button fill="solid" color="primary" shape="round"> <ion-icon slot="end" name="sync-outline"></ion-icon> ย้อนกลับ
  </ion-button></div>

  




</ion-content>