<ion-header>
  <ion-toolbar color="success">
    <ion-title style="font-size: 18px;">ข้อมูลสรุปความเครียด ซึมเศร้า และ อารมณ์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 10px;margin-top: 15px;">
      <p style="font-size: 14px;text-align: center;">ข้อมูลสรุปความเครียด ซึมเศร้า และอารมณ์</p>
      <p style="font-size: 14px;text-align: center;margin-top: -13px;">สรุปผลตั้งแต่ครั้งแรกจนถึงครั้งล่าสุดในแต่ละเรื่องดังนี้</p>

    </div>
  <ion-list>
    
    <!-- -------------------------------------------------------------ความเครียด--------------------------------------------------- -->
    <div
      style="margin-left: 25px;padding: 1% 3% 6% 2% ;margin-right: 25px;background-color: rgb(252, 243, 210);margin-top: -20px;">
      <h6 style="margin-left: 5%;">ข้อมูลเกี่ยวกับความเครียด</h6>

      <div style="width: 80%;margin-left: 30px;margin-top: 0px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> ต่ำ</p>
        </div>
        <ion-progress-bar [value]="stress_1" class="my-buffer-stress1" [buffer]="p_bar_buffer"
          style="margin-left: 10px;margin-top: 2px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{stress_1*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:10px;margin-top:0px;width: 67px;padding-right: 20px;"> ปลางกลาง</p>
        </div>
        <ion-progress-bar [value]="stress_2" class="my-buffer-stress2" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{stress_2*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">สูง</p>
        </div>
        <ion-progress-bar [value]="stress_3" class="my-buffer-stress3" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{stress_3*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">รุนแรง</p>
        </div>
        <ion-progress-bar [value]="stress_4" class="my-buffer-stress4" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{stress_4*100}}%</p>
      </div>


    </div>
    <!-- --------------------------------------------------------ซึมเศร้า-------------------------------------------------------------------- -->
    <div
      style="margin-left: 25px;padding: 1% 3% 6% 2% ;margin-right: 25px;background-color: rgb(252, 243, 210);margin-top: 10px;">
      <h6 style="margin-left: 5%;">ข้อมูลเกี่ยวกับภาวะซึมเศร้า</h6>

      <div style="width: 80%;margin-left: 30px;margin-top: 0px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">น้อยมาก</p>
        </div>
        <ion-progress-bar [value]="depress_1" class="my-buffer-depress1" [buffer]="p_bar_buffer"
          style="margin-left: 10px;margin-top: 2px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{depress_1*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:10px;margin-top:0px;width: 67px;padding-right: 20px;"> น้อย</p>
        </div>
        <ion-progress-bar [value]="depress_2" class="my-buffer-depress2" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{depress_2*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">ปานกลาง</p>
        </div>
        <ion-progress-bar [value]="depress_3" class="my-buffer-depress3" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{depress_3*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">รุนแรง</p>
        </div>
        <ion-progress-bar [value]="depress_4" class="my-buffer-depress4" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{depress_4*100}}%</p>
      </div>


    </div>

    <!-- อารมณ์ -->
    <div class="mood_"
      style="margin-left: 25px;padding: 1% 3% 6% 2% ;margin-right: 25px;margin-top: 10px;background-color: rgb(252, 243, 210);">
      <h6 style="margin-left: 5%;">ข้อมูลเกี่ยวกับอารมณ์</h6>

      <div style="width: 80%;margin-left: 30px;margin-top: 0px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> เสียใจ </p>
        </div>
        <ion-progress-bar [value]="mood_4" class="my-buffer-progress4" [buffer]="p_bar_buffer"
          style="margin-left: 10px;margin-top: 2px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_4*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> รู้สึกผิด</p>
        </div>
        <ion-progress-bar [value]="mood_10" class="my-buffer-progress10" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_10*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> รังเกียจ </p>
        </div>
        <ion-progress-bar [value]="mood_6" class="my-buffer-progress6" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_6*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> โกรธ </p>
        </div>
        <ion-progress-bar [value]="mood_5" class="my-buffer-progress5" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_5*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> ดูถูก </p>
        </div>
        <ion-progress-bar [value]="mood_7" class="my-buffer-progress7" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_7*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> กลัว </p>
        </div>
        <ion-progress-bar [value]="mood_8" class="my-buffer-progress8" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_8*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;">อับอาย </p>
        </div>
        <ion-progress-bar [value]="mood_9" class="my-buffer-progress9" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_9*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top: 0px;width: 67px;padding-right: 20px;"> ตื่นเต้น </p>
        </div>
        <ion-progress-bar [value]="mood_1" class="my-buffer-progress1" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_1*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -10px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size:11px;margin-top:0px;width: 67px;padding-right: 20px;"> รื่นเริง </p>
        </div>
        <ion-progress-bar [value]="mood_2" class="my-buffer-progress2" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_2*100}}%</p>
      </div>

      <div style="width: 80%;margin-left: 30px;margin-top: -9px;display: flex;flex-direction: row;">
        <div>
          <p style="font-size: 9px;margin-top:0px;width: 67px;padding-right: 20px;"> ประหลาดใจ </p>
        </div>
        <ion-progress-bar [value]="mood_3" class="my-buffer-progress3" [buffer]="p_bar_buffer"
          style="margin-left: 10px;"></ion-progress-bar>
        <p style="font-size:9px;margin-top: 0px;">{{mood_3*100}}%</p>
      </div>


    </div>
    
    <!-- อารมณ์ -->

  </ion-list>
<!-- 
  <div style="text-align: center;display: flex;flex-direction: row;" class="m1">
    <h3>ระดับ : </h3>
    <h4>{{call}}</h4>
  </div>
  <p style="text-align: center;">--------------------------------------</p>

  <h5 style="text-align: center;" class="m2">ระดับ : ค่อนข้างต่ำ</h5>
  <ion-button (click)="show_m()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->

  <div style="text-align: center;" (click)="gotohome()"><ion-button fill="solid" color="secondary" shape="round"> <ion-icon slot="end" name="sync-outline"></ion-icon> ย้อนกลับ
  </ion-button></div>





</ion-content>