ion-progress-bar{
    height: 9px;
    --buffer-background:#ffffff;
    margin-top: 2px;
    
  }
  .my-buffer-stress1{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#00e208;
    
  }
  .my-buffer-stress2{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#ffd901;
    
  }
  .my-buffer-stress3{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#ff8000;
    
  }
  .my-buffer-stress4{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#f40000;
    
  }

  .my-buffer-depress1{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#00e208;
    
  }
  .my-buffer-depress2{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#ffd901;
    
  }
  .my-buffer-depress3{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#ff8000;
    
  }
  .my-buffer-depress4{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#f40000;
    
  }



  .my-buffer-progress1{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#1c6fb3;
    
  }
  .my-buffer-progress2{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#F01D09;
  }
  .my-buffer-progress3{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#fcdc25;
  }
  .my-buffer-progress4{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#d77df0;
  }
  .my-buffer-progress5{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#fc8d25;
  }
  .my-buffer-progress6{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#99c324;
  }
  .my-buffer-progress7{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#25f8fc;
  }
  .my-buffer-progress8{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#257bfc;
  }
  .my-buffer-progress9{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#cd25fc;
  }
  .my-buffer-progress10{
    --background:#82F038;
    --buffer-background:rgb(252, 243, 210);
    --progress-background:#fc6625;
  }
  
  