<ion-header>
  <ion-toolbar color="warning">
    <ion-title>คำแนะนำวิธีคลายเครียด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" fullscreen class="ion-padding" scroll-y="false">
    <ion-slide class="ion-padding">
      <img src="/assets/relax.png" alt="">
      <h1>10 วิธีคลายเครียด</h1>
      <h1 style="margin-top:-10px">เบื้องต้น</h1>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
      <div style="text-align: center;" (click)="gotoetc()"><ion-button fill="clear" color="success"> <ion-icon slot="end" name="sync-outline"></ion-icon> ย้อนกลับ
      </ion-button></div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/herbal-tea.png" alt="">
      <h1>จิบชาเขียวร้อนๆ</h1>
      <p style="margin-top:-10px">
        ในชาเขียวมีสาร แอล-ธีเอนีน (L-Theanine) ซึ่งมีคุณสมบัติช่วยในการผ่อนคลาย
        แนะนำว่าก่อนดื่มขอให้สูดกลิ่นชาเข้าไปลึกๆ จะช่วยให้สดชื่นขึ้นด้วยค่ะ</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/chocolate-bar.png" alt="">
      <h1>กัดช็อกโกแลตสักคำ</h1>
      <p style="margin-top:-10px">

        สารอาหารในช็อกโกแลต มีคุณสมบัติช่วยลดฮอร์โมนคอร์ติซอล ซึ่งเป็นหนึ่งในฮอร์โมนที่ทำให้เกิดความเครียด ความวิตกกังวล
        และยังช่วยเพิ่มฮอร์โมนแห่งความสุข สงบ อย่างเอ็นโดรฟินและเซโรโทนิน โดยวิธีกินอย่างถูกต้องคือเคี้ยวช้าๆ ให้ค่อยๆ
        ละลายในปาก</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/honey.png" alt="">
      <h1>น้ำผึ้งหวานหอม</h1>
      <p style="margin-top:-10px">
        น้ำผึ้งมีกรดที่ชื่อว่า Decenoic acid มีคุณสมบัติช่วยคลายเครียด ทำให้อารมณ์ดี และบรรเทาอาการนอนไม่หลับได้ค่ะ
        ใครไม่ชอบกินเปล่าๆ ลองเติมลงไปในชาหรืออุ่นนมร้อนๆ แล้วเพิ่มน้ำผึ้งลงไปก็ได้นะคะ</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/mango.png" alt="">
      <h1>มะม่วงสุกมีดีกว่าที่คิด</h1>
      <p style="margin-top:-10px">
        ผลไม้ที่เราคุ้นเคยอย่างมะม่วงสุกมีสารชื่อว่า ไลนาลูล (Linalool)
        ซึ่งเป็นองค์ประกอบสำคัญที่ทำให้มะม่วงมีกลิ่นหอมเฉพาะตัว และช่วยลดระดับความเครียดได้ค่ะ นอกจากนี้กลิ่นหอมๆ
        และรสชาติหวานฉ่ำยังทำให้กินแล้วรู้สึกสดชื่นขึ้นด้วย</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/boy.png" alt="">
      <h1>เคี้ยวหมากฝรั่ง</h1>
      <p style="margin-top:-10px">
        การเคี้ยวหมากฝรั่งจะทำให้ระดับสารคอร์ติโซลในน้ำลาย (Cortisol) ส่งผลให้รู้สึกผ่อนคลายมากยิ่งขึ้นค่ะ</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/meditation.png" alt="">
      <h1>นั่งสมาธิ</h1>
      <p style="margin-top:-10px">

        เมื่อรู้สึกว้าวุ่นใจ ลองหาสถานที่เงียบๆ นั่งสบายๆ แล้วกำหนดจิตให้สงบอยู่กับลมหายใจของตัวเองสัก 5 นาที ฝึกบ่อยๆ
        นอกจากช่วยลดความเครียดและอาการซึมเศร้าแล้ว ยังทำให้เป็นคนสมาธิดีขึ้นด้วยค่ะ</p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/day.png" alt="">
      <h1>วางหัวลงบนหมอน</h1>
      <p style="margin-top:-10px">

        การหลับยาวคือการพักผ่อนที่ดีที่สุด แต่ในภาวะที่มีงานเร่งด่วนให้รีบไปทำต่อ ขอเวลาสัก 5 นาที เอนตัวลงหมอน หลับตา
        ปล่อยตัวปล่อยใจให้สบายๆ ก่อนกลับไปลุยต่อ ก็ถือเป็นทางเลือกหนึ่งในการเติมพลังที่ดีนะ
      </p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/breath.png" alt="">
      <h1>สูดหายใจลึก</h1>
      <p style="margin-top:-10px">
        แบ่งเวลาสักเล็กน้อยมาโฟกัสกับลมหายใจของตัวเอง โดยพยายามสูดหายใจให้ช้าและลึกที่สุด ก่อนจะค่อยๆ ผ่อนออกมา
        จะช่วยลดความดันโลหิตและอัตราการเต้นของหัวใจ เป็นเทคนิคที่ช่วยให้ผ่อนคลายยิ่งขึ้นค่ะ
      </p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img src="/assets/hand.png" alt="">
      <h1>นวดมือตัวเอง</h1>
      <p style="margin-top:-10px">
        ยิ่งคนที่ใช้คอมพิวเตอร์เยอะๆ ควรจะหาเวลาพักนวดมือตัวเองบ่อยๆ
        เพราะช่วยให้ผ่อนคลายและลดโอกาสในการเป็นโรคออฟฟิศซินโดรมด้วยนะคะ
      </p>
      <ion-button fill="clear" color="warning">เลื่อนดูกันเลย!! <ion-icon slot="end" name="arrow-forward"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide> 
    
    <ion-slide class="ion-padding">
      <img src="/assets/squeeze-ball.png" alt="">
      <h1>บีบลูกบอลคลายเครียด</h1>
      <p style="margin-top:-10px">
        
        ลูกบอลนิ่มๆ เหล่านี้มีขายทั่วไป ลองซื้อติดโต๊ะทำงานไว้สักชิ้นสิคะ เวลาที่นึกอยากบีบคอคนข้างๆ ที่บังอาจมาทำให้เครียดกว่าเดิม จะได้บีบลูกบอลแทนดีกว่าค่ะ
      </p>
      <ion-button fill="clear" color="warning">หวังว่าจะเป็นประโยชนนะคะ <ion-icon slot="end" name="arrow-back"
          color="warning"></ion-icon>
      </ion-button>
    </ion-slide>


  </ion-slides>


</ion-content>